body {
  font-family: Courier;
}

/* colors */
body {
  background-color: #00695C; 
}
.dark-gray,
.alternating .altered:nth-child(even) {
  background-color: #263238;
  color: #ECEFF1;
}
.dark-gray .highlighted, 
.alternating .altered:nth-child(even) .highlighted {
  background-color: #37474F;
}

.dark-brown,
.alternating .altered:nth-child(odd) {
  background-color: #3E2723;
  color: #D7CCC8;
}
.dark-brown .highlighted,
.alternating .altered:nth-child(odd) .highlighted {
  background-color: #4E342E;
}

a {
  color: #2196F3;
}
a:visited {
  color: #1E88E5;
}

/* list */
section.list ul.top {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

table {
  text-align: center;
}

table td:first-child {
  text-align: left;
}

/* pager */

nav.pager ul {
  list-style: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* browser form */
form[name="game-browser"] {
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}
