{% extends "base.html" %}

{% load static %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
{% endblock %}

{% block body %}
<section class="game dark-gray">
  <a class="game-id" href="{{ object.get_absolute_url }}"> [{{object.id}}] </a>
  <header class="highlighted">
    <div class="map"> <em> Map  </em> {{ object.mapname }} </div>
    <div class="hostname"> <em> hostname  </em> {{object.hostname }} </div>
    <div class="gametype"> <em> gametype </em>  {{object.gametype }} </div>
  </header>
  <table> 
  <thead> <tr>
    <th> name </th> <th> team </th> <th> kills  </th> <th> deaths </th>
    <th> ping </th>
    <th> damange_given</th> <th> damage_recieved </th> <th> score </th>
  </tr> </thead>
  <tbody>
    {% for player in object.gameplayer_set.all %}
      <tr>
      <td> <a data-name="{{ player.player.name }}"
        href="{{ player.player.get_absolute_url }}">
      </a> </td>
      <td> {{ player.team }} </td>
      <td> {{ player.kills }} </td>
      <td> {{ player.deaths }} </td>
      <td> {{ player.ping }} </td>
      <td> {{ player.damage_given }} </td>
      <td> {{ player.damage_recieved }} </td>
      <td> {{ player.score }} </td>
      </tr>
    {% endfor %}
  </tbody> 
  </table>
  <script> TCENames.game_section() </script>
</section>
{% endblock body %}
