{% extends "page.html" %}

{% load static %}
{% block meta %}
  <title> {{ gamematch.mapname }}, {{gamematch.player_count}} players </title>
  <meta property="og:title" content="{{ gamematch.mapname }}, {{gamematch.player_count}} players" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ og_url }}" />
  <meta property="og:description" content="{% include  'game/gamematch_og.html' %}" />
{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
{% endblock styles %}

{% block navigation %}
  {% with main_title="Game" side_title="Statistics" %}
  {{ block.super }}
  {% endwith %}
{% endblock %}

{% block main %}
<article class="game dark-gray">
  <a class="game-id" href="{{ gamematch.get_absolute_url }}"> [{{object.id}}] </a>
  <header class="highlighted">
    <div class="map"> <em> Map  </em> {{ gamematch.mapname }} </div>
    <div class="hostname"> <em> hostname  </em> 
      <span data-name="{{ gamematch.server.hostname }}"> </span>
    </div>
    <div class="gametype"> 
      <em> Gametype </em>  <span data-type="{{gamematch.gametype }}"></span>
    </div>
    <div class="created"> <em> Created </em> 
      {{gamematch.created|date:"N j, Y /H:i e" }}
    </div>
  </header>
  <table> 
  <thead> <tr>
    <th> Name </th> <th> Kills  </th> <th> Deaths </th>
    <th> Ping </th>
    <th> damange given</th> <th> damage recieved </th> <th> Score </th>
  </tr> </thead>
  <tbody>
    <tr> 
      <th class="highlighted" colspan="7"> <em> specops </em> {{gamematch.team_blue}} </th>
    </tr>
    {% for player in gamematch.blue_players %}
      <tr>
      <td> <a data-name="{{ player.player.name }}"
        href="{{ player.player.get_absolute_url }}">
      </a> </td>
      <td> {{ player.kills }} </td>
      <td> {{ player.deaths }} </td>
      <td> {{ player.ping }} </td>
      <td> {{ player.damage_given }} </td>
      <td> {{ player.damage_recieved }} </td>
      <td> {{ player.score }} </td>
      </tr>
    {% endfor %}
  </tbody> 
  <tbody>
    <tr> 
      <th class="highlighted" colspan="7"> <em> terrorists </em> {{gamematch.team_red}} </th>
    </tr>
    {% for player in gamematch.red_players %}
      <tr>
      <td> <a data-name="{{ player.player.name }}"
        href="{{ player.player.get_absolute_url }}">
      </a> </td>
      <td> {{ player.kills }} </td>
      <td> {{ player.deaths }} </td>
      <td> {{ player.ping }} </td>
      <td> {{ player.damage_given }} </td>
      <td> {{ player.damage_recieved }} </td>
      <td> {{ player.score }} </td>
      </tr>
    {% endfor %}
  </tbody> 
  {% if gamematch.spectators %}
    <tbody>
      <tr> 
        <th class="highlighted" colspan="7"> <em> spectators </em> </th>
      </tr>
      {% for player in gamematch.spectators %}
        <tr>
        <td> <a data-name="{{ player.player.name }}"
          href="{{ player.player.get_absolute_url }}">
        </a> </td>
        <td> {{ player.kills }} </td>
        <td> {{ player.deaths }} </td>
        <td> {{ player.ping }} </td>
        <td> {{ player.damage_given }} </td>
        <td> {{ player.damage_recieved }} </td>
        <td> {{ player.score }} </td>
        </tr>
      {% endfor %}
    </tbody> 
  {% endif %}
  </table>

  <script> TCENames.game_section() </script>
</article>
{% endblock main %}

{% block sidebar %}
  {% include 'game/statistics.html' %}
  {{ block.super }}
{% endblock sidebar %}
