<article class="game short">
  <a class="game-id" href="{{ game.get_absolute_url }}"> [{{game.id}}] </a>
  <header class="highlighted">
    <div class="map"> <em> Map  </em> {{ game.mapname }} </div>
    <div class="hostname"> <em> Hostname  </em> 
      <span data-name="{{ game.server.hostname }}"> </span>
    </div>
    <div class="gametype"> 
      <em> Gametype </em>  <span data-type="{{ game.gametype }}"></span>
    </div>
    <div class="created"> <em> Created </em> 
      {{game.created|date:"N j, Y /H:i e" }}
    </div>
  </header>
  <table> 
  <thead> <tr>
    <th> Name </th> <th> Kills  </th>
    <th> Damage </th> <th> Ping </th>
  </tr> </thead>
  <tbody>
    <tr> 
      <th class="highlighted" colspan="4"> <em> specops </em> {{game.team_blue}} </th>
    </tr>
    {% for player in game.blue_players %}
      <tr>
      <td> <a data-name="{{ player.player.name }}" 
          href="{{ player.player.get_absolute_url }}">
      </a> </td>
      <td> {{ player.kills }} </td>
      <td> {{ player.damage_given }} </td>
      <td> {{ player.ping }} </td>
      </tr>
    {% endfor %}
  </tbody> 
  <tbody>
    <tr> 
      <th class="highlighted" colspan="4"> <em> terrorists </em> {{game.team_red}} </th>
    </tr>
    {% for player in game.red_players %}
      <tr>
      <td> <a data-name="{{ player.player.name }}" 
          href="{{ player.player.get_absolute_url }}">
      </a> </td>
      <td> {{ player.kills }} </td>
      <td> {{ player.damage_given }} </td>
      <td> {{ player.ping }} </td>
      </tr>
    {% endfor %}
  </tbody> 
  </table>
  <script type="text/javascript"> TCENames.game_section(); </script>
</article>
