{% extends "page-sidebars.html" %}

{% load static %}
{% block meta %}
  <title> Last scores </title>
  <meta property="og:title" content="Live scores" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ og_url }}" />
  <meta property="og:description" content="{% include  'game/live_og.html' %}" />
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
{% endblock %}

{% block navigation %}
  {% with main_title="Scores" first_title="Filter" second_title="Statistics" %}
  {{ block.super }}
  {% endwith %}
{% endblock %}

{% block sidebar_first %}
  {% include 'form.html' with form=browse_form %}
{% endblock %}

{% block main %}
  <section class="list game-list">
    <ul class="top alternating">
    {% for game in object_list %}
      <li class="altered"> 
      {% include 'game/gamematch_short.html' %}
      </li>
    {% endfor %}
    </ul>
  </section>
  {% include 'pager.html' with page=page_obj %}
{% endblock main %}

{% block sidebar_second %}
  {% include 'game/statistics.html' %}
  {{ block.super }}
{% endblock %}
