{% extends "base-sidebars.html" %}

{% load static %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
{% endblock %}

{% block sidebar_first %}
  {% include 'form.html' with form=browse_form %}
{% endblock %}

{% block main %}
  <section class="list game-list">
    {% block list_header %}
    <header> <em> Name </em> <span data-name="{{ object.name }}"> </span> </header>
    <script> TCENames.player_page() </script>
    {% endblock %}

    {% block list_items %}
      <ul class="top alternating">
      {% for game in game_list %}
        <li class="altered"> 
        {% include 'game/gamematch_short.html' %}
        </li>
      {% endfor %}
      </ul>
    {% endblock %}
  </section>
  {% include 'pager.html' with page=game_list %}

{% endblock main %}

{% block sidebar_second %}
  {% include 'game/player_statistics.html' %}
{% endblock %}
