{% extends "base.html" %}

{% load static %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
{% endblock %}

{% block body %}
  <section class="player">
    <div> <em> Name </em> <span data-name="{{ object.name }}"> </span> </div>
    {% if alias_list %}
    <div> <em>  Aliases: </em> </div>
    <ul class="aliases">
      {% for player in alias_list %}
      <li> <a data-name="{{ player.name }}" href="{{ player.get_absolute_url }}">
      </a> </li>
      {% endfor %}
    </ul>
    {% endif %}
    <script> TCENames.player_section() </script>
  </section>
  <section class="list">
    {% block list_header %}
    <header> Games: </header>
    {% endblock %}

    {% block list_items %}
      <ul class="top alternating">
      {% for game in game_list %}
        <li class="altered"> 
        {% include 'game/gamematch_short.html' %}
        </li>
      {% endfor %}
      </ul>
    {% endblock %}
  </section>
  {% include 'pager.html' with page=game_list %}

{% endblock body %}
