{% if alias_list %}
<section class="aliases dark-brown">
  <h3 class="highlighted">  Aliases: </h3>
  <ul class="dark-brown">
    {% for player in alias_list %}
    <li> <a data-name="{{ player.name }}" href="{{ player.get_absolute_url }}">
    </a> </li>
    {% endfor %}
  </ul>
  <script type="text/javascript"> TCENames.player_statistics() </script>
</section>
{% endif %}
{% if top_games %}
<section class="dark-gray player-top-games">
  <table>
    <caption class="highlighted"> top games: </caption>
    <thead> <tr> <th> Game </th> <th> Kills </th> </tr> </thead>
    <tbody>
    {% for player in top_games %}
    <tr>
      <td> <a href="{% url 'game:game-view' player.game.id %}">
        [{{ player.game.id }}] 
      </a> </td>
      <td> {{ player.kills }} </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

