<section class="statistics dark-brown">
  <h3> {{ statistics_title }}: </h3>
  {% if top_players %}
  <table class="players">
  <caption class="highlighted"> leading et players </caption>
  <thead>
  <tr> <th> Name </th> <th> Kills </th> <th> Deaths </th>
    <th> Ratio </th> <th> Scores </th> </tr>
  </head>
  <tbody>
    {% for player in top_players %}
    <tr>
    <td> <a href="{{ player.get_absolute_url }}" data-name="{{ player.name }}">
    </a> </td> 
    <td> {{ player.total_kills }} </td>
    <td> {{ player.total_deaths }} </td>
    <td> {{ player.ratio|floatformat:2 }} </td>
    <td> {{ player.scores }} </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% endif %}

  {% if top_games %}
  <table>
  <caption class="highlighted"> top games </caption>
  <thead>
  <tr> <th> Game </th> <th> Player Count </th> <th> Created </th></tr>
  </thead>
    {% for game in top_games %}
    <tr>
    <td> <a href="{{ game.get_absolute_url }}">
      [{{game.id}}] 
    </a> </td> 
    <td> {{ game.player_count }} </td>
    <td> {{ game.created|date:"N  j" }} </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <script type="text/javascript"> TCENames.statistics_section() </script>
</section>
