{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html prefix="og: https://ogp.me/hs#">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} tce stats {% endblock %} </title>
  {% block meta %}
  {% endblock %}
  {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  {% endblock %}

  {% block scripts_head %}
    <script type="text/javascript" src="{% static 'js/game.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/mobile-toggle.js' %}"> </script>
  {% endblock %}

</head>
<body class="dark-blue">
  <div id="page">
    <nav> 
      <a href="/"> Homepage </a>
      <select>
        <option selected value="scores"> Scores </option> 
        <option value="stats"> Statistics </option>
      </select>
    </nav>
    <main>
    {% block main %}
    {% endblock %}
    </main>
    <aside>
    {% block sidebar %}
    {% endblock %}
    </aside>
  </div>
  <!-- pre> {# % debug % #} </pre -->
  <!-- pre> {# {inspect} #} </pre -->
</body>
</html>
