{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html prefix="og: https://ogp.me/hs#">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  <title> tce stats </title>
  {% endblock %}
  {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/three-columns.css' %}" />
  {% endblock %}

  {% block scripts_head %}
    <script type="text/javascript" src="{% static 'js/game.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/mobile-toggle.js' %}"> </script>
  {% endblock %}

</head>
<body class="dark-blue">
  <div id="page">
    {% include 'navigation.html' %}
    <aside class="first">
      {% block sidebar_first %}
      {% endblock %}
    </aside>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <aside class="second">
      {% block sidebar_second %}
      {% endblock %}
    </aside>
  </div>
  <!-- pre> {# % debug % #} </pre -->
  <!-- pre> {# {inspect} #} </pre -->
</body>
</html>
